.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 100px;
}

header {
  background-color: brown;
  height: 75px;
}

aside {
  height: 70%;
  width: 700px;
  border: solid 5px white;
  background-color: black;
  text-align: center;
  align-self: center;
}
